<%= form_tag(trackings_path = "/ffffffffffffffffff", :method => "get") do %>
<div class="top-line">
        <div class="filter-block-right">
        <p class="export" data-toggle="modal" data-target="#exampleModal"><%= image_tag("export.png", alt: "Aramex Logo") %>Export</p>
        <input class="main-red-button" type="button" onclick="window.location = '/shipments/new';" value="Create New Label"/>
        <input class="main-grey-button" type="button" onclick="window.location = '/pickups/new';" value="Create pickup"/>
                        </div>
                    </div>
                    <div class="filter-block-tab">

                       <ul class='filter-tab first_tracking'>
                            <li class='first'>
                                <%# unless params[:trackings_status] %>
                                 <p class="active"><%= link_to "All", trackings_path, class: 'active' %></p>
                             <%# else %>
                                <p><%#= link_to "All", trackings_path %></p>
                            <%# end %>
                            </li><li class='second second_tracking'>
                                 <%# if params[:trackings_status] == "in-transit" %>
                                    <p class="active"><%#= link_to "In-Transit", trackings_path(trackings_status: 'in-transit'), class: 'active' %></p>
                                     <%# else %>
                                    <p><%#= link_to "In-Transit", trackings_path(trackings_status: 'in-transit') %></p>
                                <%# end %>                            
                            </li><li class='second third_tracking'>  
                                 <%# if params[:trackings_status] == "origin" %>
                                    <p class="active"><%#= link_to "Origin", trackings_path(trackings_status: 'origin'), class: 'active' %></p>
                                     <%# else %>
                                    <p><%#= link_to "Origin", trackings_path(trackings_status: 'origin') %></p>
                                <%# end %>
                            </li><li class='second forth_tracking'>  
                                <%# if params[:trackings_status] == "delivered" %>
                                    <p class="active"><%#= link_to "Delivered", trackings_path(trackings_status: 'delivered'), class: 'active' %></p>
                                <%# else %>
                                <p><%#= link_to "Delivered", trackings_path(trackings_status: 'delivered') %></p>
                                 <%# end %> 
                            </li>
                        </ul>

                    </div>

                    <div class="search-block">
                        <div class="search-block-left">
                            <p class='order-number'>Order No</p>
                            <p class='triangle'></p>
                        </div>
    <div class="search-block-right">
        <%= image_tag("search.png", alt: "Search", class: "lupa") %>
        <%= text_field_tag :order_number, params[:order_number], class: 'search', size:40, placeholder: "Search" %>
        <%= submit_tag "Search", style: 'display:none' %>
    </div>
                        <div>
                        </div>
                    </div>

 <% end %>
                   <div class="table-responsive">
                        <table class="table table-sm table-shipment">
                            <thead>
                                <tr>
                                    <th><label class="containerCheckbox">
                                            <input id="checkedAll" type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                    <th>Order Number</th>
                                    <th>Location</th>
                                    <th>Last Status updated Date</th>
                                    <th>Shipment Number</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <% @trackings.each do |row| %>
                                <tr>
                                    <td><label class="containerCheckbox">
                                            <input class="checkSingle" data-type="2879" type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    <td># <%= row[:order_number] %></td>
                                    <td><%= row[:location] %></td>
                                    <td><%= row[:last_status] %></td>
                                    <td><%= row[:updated_date] %></td>
                                    <td><span class='red'><%= row[:status] %></span></td>
                                </tr>
                                 <% end %>
                                                                                                                                                   
                            </tbody>

                        </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-shipping">
            <li class="page-item">
                <%
                    if params[:page].to_i == 1 || !params[:page]
                        go_to_back = 1
                    else
                        go_to_back = params[:page].to_i - 1
                    end    
                %>
                <%= link_to "/tracks?page=#{go_to_back}", class: "page-link" do %>
                    <div class="arrow-left"></div>
                <% end %>
            </li>
            <% @count_of_pages.times do |s| %>
                <% if params[:page].to_i == s + 1 %>
                <li class="page-item active">
                <% else %>
                <li class="page-item">
                <% end %>
                    <%= link_to "#{s+1}", "/tracks?page=#{s+1}", class: "page-link" %>
                </li>
            <% end %>
            <li class="page-item">
                <%
                    if params[:page].to_i == @count_of_pages 
                        go_to_next = @count_of_pages
                    elsif !params[:page]
                        go_to_next = 2
                    else    
                        go_to_next = params[:page].to_i + 1
                    end
                %>
                <%= link_to "/tracks?page=#{go_to_next}", class: "page-link" do %>
                    <div class="arrow-right"></div>
                <% end %>
            </li>   
        </ul>
    </nav>  

                    </div>
<!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Export</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn modal-button">Export</button>
                    </div>
                </div>
            </div>
        </div>


                    <script>
    $(document).ready(function () {
        $(".lupa").click(function () {
            var str = getAllValues();
            window.location.href = "tracking.html?"+ str;
        });
        $(".main-red-button").click(function () {
            event.preventDefault();
            var strFromTable = getAllValuesFromTable();
           if(strFromTable === ""){
                alert("Select orders, please.");
                return
            }
            window.location.href = "tracking.html?"+ strFromTable;
        });
        
        $(".main-grey-button").click(function () {
            event.preventDefault();
            var strFromTable = getAllValuesFromTable();
           if(strFromTable === ""){
                alert("Select orders, please.");
                return
            }
            window.location.href = "tracking.html?"+ strFromTable;
        });
        function getAllValuesFromTable() {
            var tableShipment =[];
                $(".table-shipment tbody tr td input").each(function () {
                    if (this.checked) {
                        var nameInput = $(this).attr("data-type");
                        tableShipment.push(nameInput); 
                    } 
                });

            var params = "";
            for (var i = tableShipment.length - 1; i > -1; i--) {
                    params += 'operations[]='+tableShipment[i]+'&';

            };
            return params.slice(0,-1);
        }


        $(".first_tracking p").click(function () {
        	clearActive();
        	$(this).addClass("active");
            var str = getAllValues();
            window.location.href = "tracking.html?"+ str;
        });

        $(".second_tracking p").click(function () {
        	clearActive();
        	$(this).addClass("active");
            var str = getAllValues();
            window.location.href = "tracking.html?"+ str;
        });   	

        $(".third_tracking p").click(function () {
        	clearActive();
        	$(this).addClass("active");
            var str = getAllValues();
            window.location.href = "tracking.html?"+ str;
        });

        $(".forth_tracking p").click(function () {
        	clearActive();
        	$(this).addClass("active");
            var str = getAllValues();
            window.location.href = "tracking.html?"+ str;
        });

		function clearActive() {
				$(".filter-tab li p").each(function () {
                    if($(this).hasClass("active")){
                        $(this).removeClass("active");
                    }
                });
		}



        $(".paymentStatus-select-show").change(function () {
            var boxes = $('.paymentStatus-select-show .checkbox-select-show:checked');
            if (boxes.length > 0) {
                $('.paymentStatus-select-show .select-show-done').removeClass('passive')
            } else {
                $('.paymentStatus-select-show .select-show-done').addClass('passive')
            }

        });
        $(".productGroupSelect-select-show").change(function () {
            var boxes = $('.productGroupSelect-select-show .checkbox-select-show:checked');
            if (boxes.length > 0) {
                $('.productGroupSelect-select-show .select-show-done').removeClass('passive')
            } else {
                $('.productGroupSelect-select-show .select-show-done').addClass('passive')
            }

        });

        $(".additionalServices-select-show").change(function () {
            var boxes = $('.additionalServices-select-show .checkbox-select-show:checked');
            if (boxes.length > 0) {
                $('.additionalServices-select-show .select-show-done').removeClass('passive')
            } else {
                $('.additionalServices-select-show .select-show-done').addClass('passive')
            }

        });

        $("#checkedAll").change(function () {
            if (this.checked) {
                $(".checkSingle").each(function () {
                    this.checked = true;
                    $(this).parent().parent().parent().addClass('grey-row')
                })
            } else {
                $(".checkSingle").each(function () {
                    this.checked = false;
                    $(this).parent().parent().parent().removeClass('grey-row')
                })
            }
            checkAll();
        });

        $(".checkSingle").change(function () {
        	if (this.checked) {
				$(this).parent().parent().parent().addClass('grey-row')
            } else {
                $(this).parent().parent().parent().removeClass('grey-row')
            }
        	
            checkAll();

        });

        function checkAll() {
            var boxes = $('.checkSingle');
            var checkedd = 0;
            boxes.each(function () {
                if (this.checked === true) {
                    checkedd = checkedd + 1;
                }
            })
            $('.items-selected span').text(checkedd)
        }

        $(".checkSingle").click(function () {
            if ($(this).attr('checked') !== "checked") {
                $(this).attr('checked', true);
            }else{
                $(this).attr('checked', false); 
            }
        }); 

        function getAllValues() {
            var search = $(".search").val();
            var tracking;
                $(".filter-tab li p").each(function () {
                    if($(this).hasClass("active")){
                        tracking = $(this).text();
                    }
                });
            var params = { 
                tracking:tracking,
                search:search
            };
            var str = $.param( params );
            return str;
        }
$('#datepicker').daterangepicker({
    //"autoApply": true,
    "startDate": moment(),
    "endDate": moment().add(7,'days'),
     "locale": {
      format: 'DD MMM'
    }
}, function(start, end, label) {
  console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
});


    });



</script>
